{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

      <!-- BOOTSTRAP -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"></script>
  <!-- JQUERY -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!--ICONS-->
    <script src="https://kit.fontawesome.com/da43c2ea11.js" crossorigin="anonymous"></script>
    <!-- MY STYLES -->
    <link rel="stylesheet" href="{%static 'product/styles.css'%}">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'product:products' %}">
                <img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24">
              </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="{% url 'product:products' %}">Vitrina</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'product:leads' %}">Log.txt</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>

          </div>
        </div>
      </nav>
    {%block content%}
    {%endblock%}
<footer class="">
    <div class="prefooter ">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h4 class="widget-title">Principales Categorías</h4>
                    <div class="custom-menu">
                        <ul>
                            <li>Insumos Naturales</li>
                            <li>Servicio de Maquila</li>
                            <li>Productos naturales</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <h4 class="widget-title">Navegación</h4>
                    <div class="custom-menu">
                        <ul>
                            <li>Carrito</li>
                            <li>Mi cuenta</li>
                            <li>Nosotros</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <h4 class="widget-title">Información De Contacto</h4>
                    <div class="req-info">
                        <span class="main">Nueva dirección</span>
                        <span >JR. Volcan Misti MZA. D12 Lote. 5E URB. Las Delicias De Villa, Chorrillos</span>
                    </div>
                    <div class="req-info">
                        <span class="main">Móvil:</span>
                        <span >974294096</span>
                    </div>
                    <div class="req-info">
                        <span class="main">Correo electrónico:</span>
                        <span >ventas@andianperu.com</span>
                    </div>
                </div>
                <div class="col">
                    <h4 class="widget-title">Síguenos</h4>
                    <div class="social-container">
                        <a class="social">
                            <i class=" fab fa-facebook" aria-hidden="true" role="img"></i>
                        </a>
                        <a class="social">
                            <i class=" fab fa-instagram" aria-hidden="true" role="img"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>Copyright 2022 - Vitrina.com</p>
        <a href="{%url 'product:policy'%}" id="policy-link">Privacy policy</a>
    </div>
</footer>
<div id="page-up" style="display: none;">
    <i class="fa-solid fa-caret-up"></i>
  </div>

<style>
    /* PAGE UP STYLES */
    #page-up{
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      bottom: 30px;
      right: 30px;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      /* background-color: red; */
      background-color: #fff;
      box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
      font-size: 30px;
      cursor: pointer;
      transition: 0.3s;
    }
    #page-up.hide{
        display: none;
    }
    /* PAGE UP STYLES */
  </style>
  <script>
    // page up button
    $(window).scroll(function (event) {
      if ($(window).height()*0.7 < window.scrollY) {
          $('#page-up').show()
      } else {
        $('#page-up').hide()
      }
  });
  $('#page-up').click(function(){
    window.scrollTo(0, 0);
  })
  </script>
</body>
</html>