{%extends 'product/base.html'%}
{%block title%}
Leads
{%endblock%}
{%block content%}
<div class="container-xxl" style="margin: 0 30px;">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Offer</th>
            <th scope="col">Date</th>
            <th scope="col">Ip</th>           
            <th scope="col">Code</th>  
            <th scope="col">sending_data</th>
            <th scope="col">response</th>
            <th scope="col">error</th>
          </tr>
        </thead>
        <tbody>
            {%for lead in leads%}
          <tr>
            <td>{{lead.pk}}</td>
            <td>{{lead.name}}</td>
            <td>{{lead.phone}}</td>
            <td>{{lead.offer}}</td>
            <td>{{lead.datetime|date:"d.m.Y H:i:s"}}</td>
            <td>{{lead.ip}}</td>
            <td>{{lead.status_code}}</td>
            <td>{{lead.sending_data}}</td>
            <td>{{lead.response}}</td>
            <td>{{lead.error}}</td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
</div>
{%endblock%}