{%extends 'product/base.html'%}
{%block green-title%}
<section class="head">
  <div class="container">
    <div class="head__inner">
      <h1>Policy</h1>
    </div>
  </div>
</section>
{%endblock%}
{%block content%}
<div class="container-sm">
  <h3>¿Qué información recolectamos?</h3>
  <p>Datos personales proporcionados libremente por el Usuario al momento de registrarse, crearse una cuenta y hacer una compra. Cuando el Usuario se registra para hacer una compra mediante el Sitio web, debe completar formularios donde se le solicita proporcionar su nombre, apellidos, número de DNI/CE, fecha de nacimiento, sexo, número de celular, número de teléfono fijo, dirección de domicilio y correo electrónico
  </p>
<p>Información que se recolecta cuando el Usuario utiliza el Sitio Web, entre la que se incluye (i) información sobre las actividades realizadas por el Usuario mientras navega y utiliza el Sitio Web, tales como comportamientos y hábitos de uso, historial de búsquedas y compras del Usuario; (ii) la URL de la que proviene el Usuario (incluyendo las externas al Sitio Web); (iii) URLs más visitadas por el Usuario (incluyendo las externas al Sitio Web); (iv) direcciones IP; (v) navegador que utiliza el Usuario (vi) información sobre aspectos operativos del Sitio Web, como análisis y estadísticas de navegación, tráfico, entre otros; (vii) Información sobre el modelo de teléfono celular del Usuario y el sistema operativo móvil; (viiii) información que permita elaborar un reporte sobre términos de búsqueda; (ix) Ubicación del Usuario, entre otros (en adelante, “Información de Uso”).</p>
<p>Datos Personales proporcionados por el Usuario a través de nuestro Chat, para el seguimiento y/o por inconvenientes con su compra a través de nuestro Sito Web; consultas sobre los servicios y productos que brindamos. En caso el Usuario presente inconvenientes con su pedido deberá ingresar su nombre y apellido, correo electrónico y número de teléfono/celular con el que afilio la compra.</p>
<p>Sobre la veracidad de los Datos Personales</p>
<p>El Usuario declara que los Datos Personales proporcionados son verdaderos, completos y exactos. Cada Usuario es responsable por la veracidad, exactitud, vigencia y autenticidad de los Datos Personales suministrados y se compromete a mantenerlos debidamente actualizados. Sin perjuicio de lo anterior, el Usuario autoriza a <a class="policy-link">econaturall.com</a> a verificar la veracidad de los Datos Personales facilitados a través de información obtenida de fuentes de acceso público o de entidades especializadas en la provisión de dicha información. <a class="policy-link">econaturall.com</a> no se hace responsable de la veracidad de la información que no sea de elaboración propia, por lo que tampoco asume responsabilidad alguna por posibles daños o perjuicios que pudieran originarse por el uso de dicha información</p>
<p>El banco de datos de titularidad de <a class="policy-link">econaturall.com</a></p>
<p>El Usuario otorga su consentimiento expreso para la inclusión de su información en el banco de datos denominado Delivery, debidamente inscrito con Código 972 en el Registro de Protección de Datos a cargo de la Autoridad de Protección de Datos Personales bajo titularidad de</p>
<h3>¿Para qué utilizamos la Información del Usuario?</h3>

<p>La Información del Usuario se utiliza para las siguientes finalidades:</p>
<p>Atender el registro del Usuario y brindar soporte técnico.</p>
<p>Verificar y validar la identidad del Usuario.</p>
<p>Recopilar información sobre las actividades realizadas por el Usuario mientras navega en la plataforma y efectúa compras, con la finalidad de poder ofrecerle a dicho Usuario contenido personalizado sobre la base de sus intereses y necesidades. Por ejemplo, el Usuario podrá acceder a su historial de compras.</p>

<p>Utilizar los Datos Personales para brindar el servicio de entrega a domicilio o delivery.</p>
<p>El Usuario manifiesta expresamente que ha sido debidamente informado de todas las finalidades antes mencionadas. Asimismo, a través de la aceptación de la presente Política de Privacidad, el Usuario autoriza y otorga su consentimiento, de manera previa, libre, expresa e inequívoca y gratuita, para el tratamiento de sus Datos Personales y para la inclusión de su información en lo Banco de Datos mencionado anteriormente de titularidad de <a class="policy-link">econaturall.com</a>. En caso no acepte el tratamiento adicional de sus datos personales descrito en documento aparte, esto no afectará la prestación del servicio contratado. Asimismo, el Usuario reconoce y acepta que cualquier tratamiento de la Información del Usuario que sea necesario para la ejecución de la relación contractual que vincula al Usuario con <a class="policy-link">econaturall.com</a> no requieren de su consentimiento y sólo de ser informado al Usuario.</p>
</div>
<style>
a.policy-link{
  display: inline;
  color: rgb(42, 42, 78);
}
</style>
{%endblock%}