{%extends 'product/base.html'%}
{%block content%}

<!-- <p>request.META.HTTP_X_REAL_IP - {{request.META.HTTP_X_REAL_IP}}</p> -->

<div class="product-title">
    <div class="container">
        <h2>{{product.name}}</h2>
    </div>
</div>
<div class="container-sm form-wrapper">
    <div class="row">
        <div class="col-5">
            <img src="{{product.image.url}}">
        </div>
        <div class="col-7">
            <h3 class="product-name">{{product.name}}</h3>
            <h4 class="price">{{product.price}}</h4>
            <p class="product-desc">{{product.desc}}</p>
            <form method="POST">
                {%csrf_token%}
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">You name</label>
                  <input name="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input name="phone" type="tel" class="form-control" id="exampleInputPassword1">
                </div>
                <input type="hidden" name="offer" value="{{product.id}}">
                <input type="hidden" name="ip" value="{{request.META.HTTP_X_REAL_IP}}">
                <!-- <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> -->
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
</div>
<div class="container product-info">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia voluptate minus minima consequatur ab ducimus deserunt reprehenderit facere nostrum dolores impedit temporibus quia, ut dolor quas, omnis aut assumenda.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia voluptate minus minima consequatur ab ducimus deserunt reprehenderit facere nostrum dolores impedit temporibus quia, ut dolor quas, omnis aut assumenda.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia voluptate minus minima consequatur ab ducimus deserunt reprehenderit facere nostrum dolores impedit temporibus quia, ut dolor quas, omnis aut assumenda.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia voluptate minus minima consequatur ab ducimus deserunt reprehenderit facere nostrum dolores impedit temporibus quia, ut dolor quas, omnis aut assumenda.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia voluptate minus minima consequatur ab ducimus deserunt reprehenderit facere nostrum dolores impedit temporibus quia, ut dolor quas, omnis aut assumenda.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia voluptate minus minima consequatur ab ducimus deserunt reprehenderit facere nostrum dolores impedit temporibus quia, ut dolor quas, omnis aut assumenda.</p>
</div>
<div class="container" id="products">
    xxxxx
    <div class="row row-cols-1 row-cols-md-3 g-3">
        {%for product in products%}
        <div class="col">
          <div class="card h-100 text-center">
            <img src="{{product.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">{{product.desc}}</p>
              <h5 class="card-title">{{product.name}}</h5>
              <p class="card-text price">{{product.price}}</p>

              <a href="{% url 'product:product_detail' product.id %}" class="btn btn-primary">See More</a>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
</div>
{%endblock%}