
{%extends 'product/base.html'%}
{%load static%}
{%block title%}
{{product.name|title}}
{%endblock%}
{%block green-title%}
{%endblock%}

{%block header-2%}
{%endblock%}

{%block content%}

<main>

  <div class="breadcrumbs">
    <div class="container-sm">
      <h2 class="breadcrumbs__title">
        {{product.name}}
      </h2>
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="{%url 'product:products'%}">Home</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="#">{{product.category.name}}</a>
        </li>
      </ul>
    </div>
  </div>

  <section class="booking">
    <div class="container">
      <div class="booking__inner">
        
        <div class="booking__order">
          <div class="booking__img catalog__card-img" style="max-height: 320px;height: 320px">
            <!-- <div class="oferta">oferta</div> -->
            <img src="{{product.image.url}}" alt="image">
          </div> 
          <div class="booking__column">
            <div class="booking__arrows">
              <a class="booking__arrows-prew" href="{%url 'product:prev_next_product' 'prev' product.id %}">
                <span>Prew Product</span>
              </a>
              <a class="booking__arrows-next" href="{%url 'product:prev_next_product' 'next' product.id %}">
                <span>Next Product</span>
              </a>
            </div>
            <h2 class="booking__column-title" >{{product.name}}</h2>
            <div class=" booking__column-coast catalog__card-coast" style="align-items: center;">
              {%if product.low_price%}
              <div class="card__old-coast" >
                <!-- <span class="currency">$</span> -->
                <span class="price" style="font-size: 24px;">{{product.old_price}}</span> 
              </div>
              {%endif%}
              <!-- <span class="currency">$</span> -->
              <span class="price" style="font-size: 32px;">{{product.price}}</span>
            </div>
            <h3 class="booking__column-subtitle">
              {%if product.desc%}
              {{product.desc}}
              {%else%}
              Adiós colesterol y triglicéridos elevados, regula la presión arterial y protege tu corazón (NO DESCRIPTION)
              {%endif%}
            </h3>
            {%block product_desc%}
              <!-- Блоки с миниописанием -->
              {%endblock%}
            <button type="button" class="catalog__card-btn" id="scroll-order">Pedir</button>
            <div class="booking__column-categoria">
              <h5>Categoría:</h5>
              <a href="#">{{product.category.desc}}</a>
            </div>
            <div class="booking__column-categoria rank">
              <h5>Reseñas positivas:</h5>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <a href="#">{{product.doctor_rank}}</a>
            </div>
            <div class="booking-description">
              <div class="description__inner">
                {%block product_description%}
                {%endblock%}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <div class="container-sm mini-land">
      {%block mini-land%}
      {%endblock%}
  </div>

  <section class="form">
    <div class="container">
      <div class="form__inner" id="form">

        <div class="form__order">
          <div class="catalog__card-img form__img" >
            <!-- <div class="oferta">oferta</div> -->
            <img src="{{product.image.url}}" alt="Product" style="max-height: 280px;">
          </div>
          <div class="form__column">
            <h2 class="form__column-title" style="text-align: center;">{{product.name}}</h2>
            <div class=" booking__column-coast catalog__card-coast" style="justify-content: center;align-items: center;">
              {%if product.low_price%}
              <div class="card__old-coast">
                <!-- <span class="currency">$</span> -->
                <span class="price" style="font-size: 24px;">{{product.old_price}}</span> 
              </div>
              {%endif%}
              <!-- <span class="currency">$</span> -->
              <span class="price" style="font-size: 32px;">{{product.price}}</span>
            </div>
          </div>
        </div>
        <form class="form__contact" method="POST" action="">
          {%csrf_token%}
          {{form}}
<!--          {%csrf_token%}-->
<!--          <input type="hidden" name="bay" value="Vitr">-->
<!--          <input type="hidden" name="offer" value="{{product.pk}}">-->
<!--          <input type="hidden" name="ip" value="{{client_ip}}">-->
<!--          -->
<!--          <h3 class="form__contact-title">Ordenar {{product.name|title}}</h3>-->
<!--          <label for="name">Nombre-->
<!--            <span>*</span>-->
<!--          </label>-->
<!--          <input type="text" name="name" class="form__contact-input" minlength="3" maxlength="30" placeholder="Escribe tu nombre" >-->
<!--          <label for="name">Teléfono-->
<!--            <span>*</span>-->
<!--          </label>-->
<!--          <input type="tel" name="phone" class="form__contact-input" placeholder="Tu número de teléfono" minlength="8" maxlength="14">-->
<!--          -->
          <p>
            <input type="checkbox" id="check1" checked>
            <label for="check1">De acuerdo con las reglas de procesamiento de datos</label>
          </p>
          <button type="submit" class="form__contact-btn catalog__card-btn">Pedir</button>
        </form>
        
      </div>
     

    </div>
  </section>

  <section class="first-product catalog">
    <div class="container">
      <div class="first-product__inner catalog__inner">
        <h2 class="catalog__title subtitle">
          See our other products	
        </h2>
        <div class="catalog__line line"></div>
        <ul class="catalog__box">
          {%for product in products%}
          <li class="catalog__card">
            <div class="catalog__card-img">
              <a class="link-img__card" href="{%url 'product:product_detail' product.slug %}"></a>
              <!-- <div class="oferta">oferta</div> -->
              <img src="{{product.image.url}}" alt="Product">
              <div class="viewing">
                <i class="fa-solid fa-eye"></i>
                <a class="" href="{%url 'product:product_detail' product.slug %}"> Vista rápida</a>
              </div>
            </div>
            <p class="catalog__card-text">
              {%if product.desc%}
                {{product.desc}}
                {%else%}
                Mejores productos naturales
                {%endif%}
            </p>
            <h4 class="catalog__card-title">{{product.name}}</h4>
            <div class="catalog__card-coast">
              {%if product.old_price%}
              <div class="card__old-coast">
                <!-- <span class="currency">$</span> -->
                <span class="price">{{product.old_price}}</span> 
              </div>
              {%endif%}
              <!-- <span class="currency">$</span> -->
              <span class="price">{{product.price}}</span> 
            </div>
            <button type="button" class="catalog__card-btn">
              <a href="{%url 'product:product_detail' product.slug %}">Pedir</a>
            </button>
          </li>
          {%endfor%}
        </ul>
      </div>
    </div>
  </section>

</main>

<script>
  $('#scroll-order').click(function(){
    $([document.documentElement, document.body]).animate({
        scrollTop: $("#form").offset().top
    }, 1000);
  })
</script>
{%endblock%}