{%extends 'product/base.html'%}
{%load static%}
{%block header-mini-land%}
<div class="main-image-wrapper">
  <picture>
    <source 
       media="(min-width: 1250px)"
       srcset="{%static 'product/images/main-image.jpg' %}">
    <source 
       media="(min-width: 768px)"
       srcset="{%static 'product/images/main-image-mob.jpg' %}">
    <img src="{%static 'product/images/main-image-mob.jpg' %}" 
    alt="a cute kitten">
 </picture>
</div>
<style>
  .main-image-wrapper img{
    width: 100%;
  }
</style>


<section class="information">
  <div class="container">
    <div class="information__inner">
      <h2 class="information__title subtitle">Principales Categorias</h2>
      <div class="information__line line"></div>
      <div class="information__boxes">
        <a class="information__link" href="{%url 'product:category' 'diabetes'%}">
          <img class="information__link-img" src="{%static 'product/images/diabet.jpg'%}" alt="Blog Informations">
        </a>
        <a class="information__link" href="{%url 'product:category' 'joints'%}">
          <img class="information__link-img" src="{%static 'product/images/sust.jpg'%}" alt="Blog Informations">
        </a>
        <a class="information__link" href="{%url 'product:category' 'hypertension'%}">
          <img class="information__link-img" src="{%static 'product/images/hipa.jpg'%}" alt="Blog Informations">
        </a>
      </div>
    </div>
  </div>
</section>
{%endblock%}
{%block content%}
<main>

    <!-- <section class="head">
      <div class="container">
        <div class="head__inner">
          <h1>Abasteciendo a la industria peruana con insumos y productos de calidad</h1>
        </div>
      </div>
    </section> -->

    <!-- <section class="information">
      <div class="container">
        <div class="information__inner">
          <h2 class="information__title subtitle">Principales Categorias</h2>
          <div class="information__line line"></div>
          <div class="information__boxes">
            <a class="information__link" href="{%url 'product:category' 'diabetes'%}">
              <img class="information__link-img" src="{%static 'product/images/diabet.jpg'%}" alt="Blog Informations">
            </a>
            <a class="information__link" href="{%url 'product:category' 'joints'%}">
              <img class="information__link-img" src="{%static 'product/images/sust.jpg'%}" alt="Blog Informations">
            </a>
            <a class="information__link" href="{%url 'product:category' 'hypertension'%}">
              <img class="information__link-img" src="{%static 'product/images/hipa.jpg'%}" alt="Blog Informations">
            </a>
          </div>
        </div>
      </div>
    </section> -->

    <section class="first-product catalog">
      <div class="container">
        <div class="first-product__inner catalog__inner">
          <h2 class="catalog__title subtitle">
            First-product			
          </h2>
          <div class="catalog__line line"></div>
          <ul class="catalog__box">
            {%for product in products%}
            <li class="catalog__card">
              <div class="catalog__card-img">
                <div class="oferta">oferta</div><!-- скрыт, display: none -->
                <!-- <a href=""><img src="{{product.image.url}}" alt="Product"></a> -->
                <img src="{{product.image.url}}" alt="Product">
                <a class="viewing" href="#"> Vista rápida</a>
              </div>
              <p class="catalog__card-text">Mejores productos naturales</p>
              <h4 class="catalog__card-title">{{product.name}}</h4>
              <div class="catalog__card-coast">
                <div class="card__old-coast">
                  <span class="currency">$</span>
                  <span class="price">69.90</span> 
                </div>
                <span class="currency">$</span>
                <span class="price">69.90</span> 
              </div>
              <a type="button" class="catalog__card-btn" href="{%url 'product:product_detail' product.id%}">Añadir al carrito</a>
            </li>
            {%endfor%}
          </ul>
        </div>
      </div>
    </section>

    <section class="second-product catalog">
      <div class="container">
        <div class="second-product__inner catalog__inner">
          <h2 class="catalog__title subtitle">
				    Second-product						
          </h2>
          <div class="catalog__line line"></div>
          <ul class="catalog__box">
            <li class="catalog__card">
              <div class="catalog__card-img">
                <div class="oferta">oferta</div><!-- скрыт, display: none -->
                <img src="{%static 'product/content/img-second-product-300x300.jpeg'%}" alt="Product">
                <a class="viewing" href="#"> Vista rápida</a>
              </div>
              <p class="catalog__card-text">Insumos más vendidos</p>
              <h4 class="catalog__card-title">Uña de Gato, extracto atomizado</h4>
              <div class="catalog__card-coast">
                <div class="card__old-coast">
                  <span class="currency">$</span>
                  <span class="price">69.90</span> 
                </div>
                <span class="currency">$</span>
                <span class="price">283.20</span> 
              </div>
              <button type="button" class="catalog__card-btn">Añadir al carrito</button>
            </li>
            <li class="catalog__card">
              <div class="catalog__card-img">
                <div class="oferta">oferta</div><!-- скрыт, display: none -->
                <img src="{%static 'product/content/img-second-product-300x300.jpeg'%}" alt="Product">
                <a class="viewing" href="#"> Vista rápida</a>
              </div>
              <p class="catalog__card-text">Insumos más vendidos</p>
              <h4 class="catalog__card-title">Uña de Gato, extracto atomizado</h4>
              <div class="catalog__card-coast">
                <div class="card__old-coast">
                  <span class="currency">$</span>
                  <span class="price">69.90</span> 
                </div>
                <span class="currency">$</span>
                <span class="price">283.20</span> 
              </div>
              <button type="button" class="catalog__card-btn">Añadir al carrito</button>
            </li>
            <li class="catalog__card">
              <div class="catalog__card-img">
                <div class="oferta">oferta</div><!-- скрыт, display: none -->
                <img src="{%static 'product/content/img-second-product-300x300.jpeg'%}" alt="Product">
                <a class="viewing" href="#"> Vista rápida</a>
              </div>
              <p class="catalog__card-text">Insumos más vendidos</p>
              <h4 class="catalog__card-title">Uña de Gato, extracto atomizado</h4>
              <div class="catalog__card-coast">
                <div class="card__old-coast">
                  <span class="currency">$</span>
                  <span class="price">69.90</span> 
                </div>
                <span class="currency">$</span>
                <span class="price">283.20</span> 
              </div>
              <button type="button" class="catalog__card-btn">Añadir al carrito</button>
            </li>
            <li class="catalog__card">
              <div class="catalog__card-img">
                <div class="oferta">oferta</div><!-- скрыт, display: none -->
                <img src="{%static 'product/content/img-second-product-300x300.jpeg'%}" alt="Product">
                <a class="viewing" href="#"> Vista rápida</a>
              </div>
              <p class="catalog__card-text">Insumos más vendidos</p>
              <h4 class="catalog__card-title">Uña de Gato, extracto atomizado</h4>
              <div class="catalog__card-coast">
                <div class="card__old-coast">
                  <span class="currency">$</span>
                  <span class="price">69.90</span> 
                </div>
                <span class="currency">$</span>
                <span class="price">283.20</span> 
              </div>
              <button type="button" class="catalog__card-btn">Añadir al carrito</button>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </main>
{%endblock%}

{%block bottom-mini-land%}
<div class="container mini-land">
<h1>Main mini-land</h1>
</div>
{%endblock%}
