{%extends 'product/product_detail.html'%}
{%load static%}
{%block mini-land%}
<h1 class="center">Мини лэнд товара <i>(зашлушка)</i></h1>
<div class="imagw-wrap">
    <img src="https://img.freepik.com/free-photo/pleased-young-female-doctor-wearing-medical-robe-stethoscope-around-neck-standing-with-closed-posture_409827-254.jpg?w=2000">
</div>
<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, ea nobis. Dignissimos, quae deserunt! Repudiandae eius magni accusantium numquam autem provident. Inventore iste perspiciatis molestias dolores ullam eaque ratione voluptatibus.</p>
<h3 class="red">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, ea nobis. Dignissimos, quae deserunt! Repudiandae eius magni accusantium numquam autem provident. Inventore iste perspiciatis molestias dolores ullam eaque ratione voluptatibus.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, ea nobis. Dignissimos, quae deserunt! Repudiandae eius magni accusantium numquam autem provident. Inventore iste perspiciatis molestias dolores ullam eaque ratione voluptatibus.</p>
{%endblock%}