{%extends 'product/product_detail.html'%}
{%load static%}
{%load comment_block%}

{%block product_desc%}
<!-- Блоки с миниописанием -->
<h3>Flexacil Ultra es un producto que ayuda a reducir rápidamente el dolor debido a la artrosis y la osteocondrosis. Atenúa el espasmo muscular y la inflamación. Flexacil Ultra también es eficaz para aliviar los dolores causados por la osteocondrosis y la artrosis porque reduce el proceso de degeneración del tejido cartilaginoso y mejora su metabolismo, promoviendo el fortalecimiento del cartílago articular.</h3>
<div class="mini-land">
  <ul>
    <li>Ayuda a aliviar el síndrome del dolor</li>
    <li>Ayuda a fortalecer los cartílagos</li>
    <li>Ayuda a reducir el hipertono muscular</li>
    <li>Ayuda a aliviar la hinchazón</li>
    <li>Ayuda a reducir las inflamaciones</li>
  </ul>
</div>
{%endblock%}

{%block product_description%}
{%endblock%}


{%block mini-land%}
<p><b>- Saludos, profesor John Wilson. ¿Es verdad que las enfermedades comunes y la enfermedad degenerativa del disco son compañeros inevitables de la edad madura?</b></p>
<div class="imagw-wrap">
  <img src="{%static 'product/images/doctors/ministr.jpg'%}">
  <p>Profesor John Wilson</p>
</div>

<p>- ¡Hola, Phibie! Esta afirmación no es totalmente cierta. Un compañero inevitable de la edad madura es la fe excesiva en los doctores que lo han estado tratando por 10 años, pero todavía no lo han curado. De hecho, las articulaciones, la condrosis y todo el esqueleto producen resultados increíblemente buenos cuando se tratan a cualquier edad. Esto no es un milagro, sino pura ciencia.</p>
<p>Si conoce este secreto y está dispuesto a seguir algunas reglas, puede curarse incluso en casa y muy rápidamente. Este es el caso de miles de mis pacientes.</p>
<p><b>- ¿Y cuál es este secreto?</b></p>
<p>"Aquí está el secreto: ¡al restaurar la circulación de la sangre en las articulaciones, se pueden curar!
    "</p>
<p><b>"- ¿Qué consejo daría a las personas que sufren dolores articulares?
    "</b></p>   
<p> - Flexacil Ultra. Le permite olvidar el dolor de espalda y las articulaciones en muy poco tiempo, literalmente en 4 días, mientras que las condiciones muy complicadas pueden curarse en un par de meses. Lo interesante es que no hay ningún milagro aquí, es solo ciencia.</p>




<!-- <h3> Más de 3 comentarios:</h3> -->


<div class="comment-wrapper">
  {%comment_block%}
  <div class="comment">
    <img src="{%static 'product/images/comments/flexacil_1.jpg'%}">
    <div>
      <p class="user-name">Miguel Del Carmen</p>
    <p>Estoy totalmente de acuerdo en que este es un producto avanzado. Durante 8 años tuve una espalda adolorida y no pude caminar por mucho tiempo, necesitaba sentarme y descansar. Estas cápsulas me ayudaron rápidamente al dolor de espalda y en 12 días ya me sentía una persona sana. Se lo recomiendo a todos mis familiares</p>
    </div>
  </div>
  <div class="comment">
    <img src="{%static 'product/images/comments/flexacil_2.jpg'%}">
    <div>
      <p class="user-name">Anselmo Lima</p>
    <p>Hacía deporte y se me torció la pierna. En el transcurso de una semana, los dolores se agravaron y se desarrolló artritis. Un amigo me aconsejó estas cápsulas, que después de unos días me ayudaron con los síntomas.</p>
    </div>
  </div>
  <div class="comment">
    <img src="{%static 'product/images/comments/flexacil_3.jpg'%}">
    <div>
      <p class="user-name">Alejandro</p>
    <p>Después de leer el artículo, decidí probar estas cápsulas de inmediato. El problema es que los remedios convencionales me ayudan temporalmente: la osteocondrosis, como me dijeron, es muy difícil de eliminar. Ahora les contaré mis resultados. Las cápsulas llegaron muy rápido. Desde el primer día que sentí alivio, el dolor desapareció por completo. Muchas gracias, ¡ahora puedo vivir una vida normal!</p>
    </div>
  </div>

</div>
{%endblock%}