{%extends 'product/product_detail.html'%}
{%load static%}
{%load comment_block%}

{%block product_desc%}
<!-- Блоки с миниописанием -->
<h3>MEDICAMENTO PARA CONTROLAR EL NIVEL DE AZÚCAR GLYCONORM</h3>
<div class="mini-land">
  <ul class="red">
    <li>ELIMINA LAS TOXINAS DEL HÍGADO</li>
    <li>REDUCE LAS ENZIMAS DEL HÍGADO REDUCE LA INFLAMACIÓN</li>
    <li>PREVIENE COMPLICACIONES </li>
    <li>FORTALECE LOS VASOS SANGUÍNEOS</li>
    <li>EQUILIBRA LAS HORMONAS</li>
    <li>FORTALECE EL SISTEMA INMUNITARIO</li>
  </ul>
</div>
{%endblock%}

{%block product_description%}
<div class="mini-land">
<ul>
    <li>La causa de la diabetes es el aumento de la producción de insulina</li>
    <li>Proteja su cuerpo de los niveles altos de glucosa</li>
    <li>Renueve el hígado y el páncreas</li>
    <li>Normalice el metabolismo de los carbohidratos</li>
    <li>Estabilice el azúcar en la sangre</li>
    <li>Normalice todos los procesos metabólicos</li>
</ul>
<p>Gracias a la extracción, la tecnología que permite conservar sustancias beneficiosas y, a la vez, eliminar las impurezas nocivas, se ha desarrollado Glyconorm. Es el producto más eficaz que tiene efecto más rápido que otros agentes hipoglucemiantes. Más de 5000 voluntarios con diabetes y prediabetes ya han probado Glyconorm. Las pruebas duraron 40 días.</p>
<ul>
    <li>Aumento de la producción de insulina en el páncreas.</li>
    <li>Aumento de la actividad de la insulina.</li>
    <li>Estabilización del azúcar en la sangre.</li>
    <li>Reducción de la grasa en la sangre, bajada de la presión arterial.</li>
</ul>
</div>
{%endblock%}


{%block mini-land%}
<h4>Julián Cobo, Doctor en Endocrinología</h4>
<p>Hasta el día de hoy, se considera el mejor especialista en diabetes del país. Todas las celebridades que sufren de diabetes reciben sus consejos. Esto incluye pacientes de Portugal, Italia y otros países. Fue miembro del centro de endocrinología más importante del país. Ha escrito 32 publicaciones científicas, y en revistas especializadas hay tres veces más publicaciones.</p>
<p>"'Los productos para la diabetes disponibles solo eliminan los síntomas, pero no su causa. Glyconorm proporciona un efecto excelente y sostenible para el control de la diabetes. Después de un ciclo de tratamiento, la diabetes ES REGULADA gradualmente, se restauran todas las funciones corporales y los trastornos metabólicos se resuelven por completo.


    Recientemente, presenté Glyconorm a la mayoría de mis pacientes y obtuve muy buenas opiniones en cuanto a su eficacia"".
    
    "</p>
<p><b>- Ha dicho que en Europa hay medicamentos modernos, pero ¿en nuestro país?</b></p>
<p>- Nosotros también los tenemos, ¡y aún mejor! Incluso el año pasado, el Instituto Nacional de Endocrinología creó un medicamento para eliminar la diabetes, que en sus características es superior a todos los medicamentos disponibles en el mundo. Ayuda a deshacerse de la diabetes en poco tiempo y puede utilizarse en cualquier fase de la enfermedad. El producto es simplemente único, pero nadie en nuestro país lo necesitaba.</p>
<p><b>- ¿Cómo se llama este medicamento? ¿Y cuál es su composición?</b></p>
<p>- Se llama Glyconorm. Se trata de una cápsula especial que debe tomarse una vez al día o según una prescripción médica. Sólo contienen extractos de plantas medicinales y ningún producto químico. La composición está bien equilibrada, debido al efecto complejo sobre la enfermedad, lo que aumenta la eficacia del curso.</p>
<p>Las cápsulas contienen ingredientes, cada uno de los cuales ayuda a deshacerse de la diabetes:</p>
<ul class="red">
    <li>Normalizar la función hepática y renal</li>
    <li>Normaliza el nivel de azúcar y reduce el colesterol.</li>
    <li>Disminuye la presión arterial, mejora la visión.</li>
    <li>Tienen propiedades tónicas, antisépticas y antiinflamatorias.</li>
    <li>Un remedio tradicional para la diabetes.</li>
</ul>
<p>El efecto positivo de Glyconorm se ha confirmado durante los ensayos clínicos. Se ha demostrado que Glyconorm es seguro para la salud y no tiene efectos secundarios ni contraindicaciones.</p>
<h3> Más de 80 comentarios</h3>

<div class="comment-wrapper">
  {%comment_block%}
  <div class="comment">
    <img src="{%static 'product/images/comments/no_avatar.jpg'%}">
    <div>
      <p class="user-name">Ilse M.</p>
    <p>Tengo que pedir esto para mi marido. Espero que sirva de algo. La diabetes es una enfermedad terrible.</p>
    </div>
  </div>
  <div class="comment">
    <img src="{%static 'product/images/comments/no_avatar.jpg'%}">
    <div>
      <p class="user-name">Violeta</p>
    <p>Gracias, lo he pedido. El asesor telefónico dijo que quedaban muy pocos paquetes. Un par de días más y eso será todo.</p>
    </div>
  </div>
  <div class="comment">
    <img src="{%static 'product/images/comments/no_avatar.jpg'%}">
    <div>
      <p class="user-name">Melissa</p>
    <p>Gracias. Sí pude ordenarlo</p>
    </div>
  </div>

</div>
{%endblock%}
