{%extends 'product/product_detail.html'%}
{%load comment_block%}
{%load static%}


{%block product_desc%}
<p>Incas Protectes un remedio natural y seguro para la presión arterial, apto para todas las edades. Los ensayos clínicos de varias fases* han demostrado la eficacia del suplemento, ganando una posición de liderazgo en los problemas de tratamiento de la hipertensión</p>
{%endblock%}

{%block product_description%}
<div class="mini-land">
    <ul>
        <li>Normaliza la tensión en solo 10 minutos</li>
        <li>Alivia y limpia los vasos.</li>
        <li>Totalmente seguro.</li>
        <li>No tiene efectos adversos.</li>
        <li>3 cursos al año
            mejorarán la hipertensión.</li>
    </ul>
</div>
 <!-- <h2 class="description__title">xxxxxx</h2> -->
    <!-- <h3 class="description__subtitle">xxxxxxx</h3> -->
    <!-- <p class="description__text">xxxxx</p> -->
    <!-- <p><b class="upp">xxxxx</b> - xxxxxx</p> -->
{%endblock%}

{%block mini-land%}

<h2>El renombrado cardiólogo Dr. Alex Labaletto afirma que el secreto de una longevidad saludable reside en una presión arterial normal.</h2>
<p><b>- ¿Cuál la causa principal de la hipertensión?</b></p>
<p>"La razón principal es una disminución del lumen de los vasos sanguíneos pequeños, lo que obstruye el flujo sanguíneo. La presión sobre las paredes de los vasos sanguíneos aumenta, hay un incremento de la presión arterial porque el músculo cardíaco necesita más esfuerzo para impulsar la sangre a través del torrente sanguíneo. Esto se debe a la contaminación de los vasos sanguíneos."</p>


<p><b>- Doctora, ¿qué recomendaría para la limpieza de los vasos sanguíneos?</b></p>
<p>Recientemente, mis colegas del centro cardíaco de México desarrollaron un producto eficaz para limpiar los vasos sanguíneos.
</p>


<p>Incas Protect es un producto desarrollado por expertos líderes en el campo de la cardiología. Durante más de tres años, desarrollaron una fórmula que proporciona los mejores resultados en el tratamiento de la hipertensión y sus consecuencias.
</p>
<p>Este producto solo contiene extractos altamente concentrados de plantas medicinales que limpian bien los vasos sanguíneos, lo que lo convierte en un producto seguro y ecológico. Además, tiene un valor nutricional para todo el cuerpo.
</p>
<p>Quiero presentarles las estadísticas de la limpieza de los vasos sanguíneos con la ayuda de Incas Protect que se obtuvieron como resultado de un estudio clínico.</p>
<p>El estudio involucró a 3000 pacientes, todos ellos completaron un ciclo de tratamiento de 2 semanas con Incas Protect . Esto es lo que mostraron los resultados del estudio:
</p>
<ul>
    <li>La presión arterial volvió a la normalidad durante la primera semana: 99% de los participantes;</li>
    <li>La frecuencia cardíaca volvió a la normalidad: 97% de los participantes;</li>
    <li>Los vasos sanguíneos se limpiaron por completo del colesterol al final del estudio: 98% de los participantes;</li>
    <li>Las migrañas desaparecieron: 99% de los participantes;</li>
    <li>Mejoró la visión y la audición: 100% de los participantes</li>
    <li>Mejoró el bienestar general: 100% de los participantes;</li>
    <li>Aumentó la eficacia del tratamiento de enfermedades crónicas: 98% de los participantes;</li>
    <li>No hubo efectos secundarios por tomar el producto: 100% de los participantes.</li>
</ul>

<h3> Más de 80 comentarios</h3>

<div class="comment-wrapper">
  {%comment_block%}
  <div class="comment">
    <img src="{%static 'product/images/comments/no_avatar.jpg'%}">
    <div>
      <p class="user-name">Jorge Enrique Forero Galán</p>
    <p>La presión no es un chiste. Así que es mejor no ignorarla, sino tratarla</p>
    </div>
  </div>
  <div class="comment">
    <img src="{%static 'product/images/comments/no_avatar.jpg'%}">
    <div>
      <p class="user-name">Paula Rodríguez</p>
    <p>Muchas gracias por su artículo, descubrí como ahora puedo bajar adecuadamente la presión.</p>
    </div>
  </div>
  <div class="comment">
    <img src="{%static 'product/images/comments/no_avatar.jpg'%}">
    <div>
      <p class="user-name">Olga</p>
    <p>Yo lo ordené. Me alegro de haber conseguido pedirlo con un precio especial.</p>
    </div>
  </div>

</div>
{%endblock%}














