{%extends 'product/product_detail.html'%}
{%load comment_block%}
{%load static%}


{%block product_desc%}
<p>Proteja su cuerpo de los niveles altos de glucosa</p>
<ul>
    <li>La causa de la diabetes es el aumento de la producción de insulina</li>
    <li>Proteja su cuerpo de los niveles altos de glucosa</li>
    <li>Renueve el hígado y el páncreas</li>
    <li>Normalice el metabolismo de los carbohidratos</li>
    <li>Estabilice el azúcar en la sangre</li>
    <li>Normalice todos los procesos metabólicos</li>
</ul>
{%endblock%}

{%block product_description%}
<div class="mini-land">
    <h3>MEJORA LA SALUD DEL PACIENTE</h3>
<ul class="red">
    <li>ELIMINA LAS TOXINAS DEL HÍGADO, REDUCE LAS ENZIMAS DEL HÍGADO</li>
    <li>REDUCE LA INFLAMACIÓN, PREVIENE COMPLICACIONES</li>
    <li>FORTALECE LOS VASOS SANGUÍNEOS</li>
    <li>EQUILIBRA LAS HORMONAS</li>
    <li>FORTALECE EL SISTEMA INMUNITARIO</li>
</ul>
</div>
{%endblock%}

{%block mini-land%}

<div class="imagw-wrap">
  <img src="{%static 'product/images/doctors/kolpak.jpg'%}">
  <p>Dr. Juan Pedro Olarte</p>
</div>
<p>
    La diabetes tipo 2 es una enfermedad compleja, peligrosa y sistémica. Este no es un resfriado común o un caso de diarrea. Es mucho más serio. La enfermedad afecta a todo el cuerpo y, por lo tanto, el tratamiento también debe ser sistémico. Es INEFICIENTE y PELIGROSO aumentar los niveles de insulina y así tratar este problema...</p>
<p><b>– ¿Qué resulta al tomar Insulux?</b></p>
<p>1. Normalización de los niveles de azúcar en la sangre
    El compuesto tiene un efecto extremadamente útil. Específicamente, reduce la resistencia a la insulina. Los componentes biológicamente activos penetran en las células de los músculos, tejido adiposo e hígado, y tienen un efecto que conduce a una mejor percepción de la hormona contenida en la sangre. En la literatura científica médica, este proceso se conoce como metabolismo secundario, es decir, la formación de células secundarias. Como resultado, con el tiempo, las células comienzan a consumir glucosa más vigorosamente, lo que conduce a una disminución en su contenido sanguíneo. Esta es la forma más segura para que el cuerpo consuma glucosa.</p>
<p>2. Recuperación de los vasos sanguíneos
    El principal efecto de Insulux no es sólo que reduce el azúcar en la sangre, sino que también normaliza los niveles de glucosa. Además de degradar el azúcar que ya ha sido depositado en las paredes de los vasos sanguíneos que parecía congelado, recuperando la capacidad de contraerse y dilatarse. Los trombos también desaparecen, limpiando así los vasos sanguíneos, y recuperando los capilares. Como resultado la presión no sube, se va el cansancio e insomnio, las heridas y cortadas cicatrizan más rápido. No solo se normaliza el azúcar en sangre, sino el nivel de glucosa...</p>
<p>3. Mejora el estado de la piel, los huesos y los músculos
    Incluso se restaura la piel gravemente dañada. Las heridas cicatrizan, la piel deja de caerse y resecarse. Sucede lo mismo con los huesos, su composición sana se restaura, dejan de ser frágiles. La recuperación se produce en todos los tejidos, los músculos vuelven a ser elásticos.</p>


<!-- <h3> Más de 3 comentarios:</h3> -->


<div class="comment-wrapper">
  {%comment_block%}
  <div class="comment">
    <img src="{%static 'product/images/comments/insulux_1.jpg'%}">
    <div>
      <p class="user-name">Andrés</p>
    <p>Este producto es increíble. Lo he estado tomando durante una semana y ya veo cambios positivos. Mido mi nivel de azúcar en la sangre varias veces al día. Es mucho más bajo que antes. Si continúa así, es posible que pueda superar este problema por completo.</p>
    </div>
  </div>
  <div class="comment">
    <img src="{%static 'product/images/comments/insulux_2.jpg'%}">
    <div>
      <p class="user-name">Blanca</p>
    <p>gracias, gracias, muchas gracias por este artículo, espero que pueda ayudar a la gente.</p>
    </div>
  </div>
  <div class="comment">
    <img src="{%static 'product/images/comments/insulux_3.jpg'%}">
    <div>
      <p class="user-name">Leonardo</p>
    <p>Gracias. Yo también hice el pedido.</p>
    </div>
  </div>

</div>
{%endblock%}