
{%extends 'product/product_detail.html'%}
{%load static%}

{%block product_desc%}
<!-- Блоки с миниописанием -->
<div class="mini-land">
  <ul>
    <li>Alivia el síndrome de dolor</li>
    <li>Comienza el proceso de regeneración de los cartílagos</li>
    <li>Elimina el hipertono muscular</li>
    <li>Combate la hinchazón</li>
    <li>Elimina las inflamaciones</li>
  </ul>
</div>

{%endblock%}

{%block mini-land%}
<h2>Sustarox es un producto eficaz para la osteocondrosis, la artrosis y las lesiones!</h2>

<!-- <i>Назначение</i> -->

<!-- <p>Sustarox es un producto eficaz para la osteocondrosis, la artrosis y las lesiones!</p> -->
<ul>
  <li>Alivia el síndrome de dolor</li>
  <li>Comienza el proceso de regeneración de los cartílagos</li>
  <li>Elimina el hipertono muscular</li>
  <li>Combate la hinchazón</li>
  <li>Elimina las inflamaciones</li>
</ul>

<!-- <i>Описание </i> -->

<p>Sustarox es un producto que puede eliminar rápidamente el dolor por artrosis y osteocondrosis. Elimina el espasmo muscular y la inflamación. Sustarox también es eficaz en el tratamiento de la osteocondrosis y artrosis porque desacelera el proceso de degeneración de tejido cartilaginoso y mejora su metabolismo, promoviendo la regeneración de cartílago articular.</p>
<p>El efecto positivo puede verse después de la primera aplicación. Si se usa regularmente, las enfermedades de articulaciones y columna vertebral detienen su avance.</p>
<!-- Преимущества -->

<h4 class="red">UNA AMPLIA VARIEDAD DE ACCIONES</h4>
<p>Cura las enfermedades de las articulaciones, la columna vertebral y las relacionadas con la edad</p>

<h4 class="red">COMPOSICIÓN 100% NATURAL</h4>
<p>Solo componentes activos de plantas medicinales</p>

<h4 class="red">ALTA EFICACIA</h4>
<p>Que mejora el estado de salud y reduce el dolor después de la primera aplicación</p>

<h4 class="red">PROBADO POR ESPECIALISTAS</h4>
<p>El producto está certificado y satisface los requisitos de estándares*</p>

<p>El Dr. Thomas Braun es el jefe del mundialmente famoso Centro de Reumatología y Neurología de Berlín.</p>


<!-- <i>ФОТО ВРАЧА</i> -->
<div class="imagw-wrap">
  <img src="{%static 'product/mini_lands/konovalov.jpg'%}">
  <p>Dr. Thomas Braun: "En Peru las enfermedades de las articulaciones todavía se tratan con medicamentos anticuados y poco eficaces que requieren un uso constante durante toda la vida. Mientras que en Alemania las articulaciones se tratan tan fácilmente como un catarro."</p>
</div>



<p><b>- ¿Y cómo en Alemania van las cosas con el tratamiento de las articulaciones?</b></p>

<p>- Todos los médicos alemanes, desde los catedráticos-reumatólogos hasta los médicos de cabecera ordinarios y los paramédicos, entendieron hace mucho que no es necesario eliminar los efectos de la enfermedad, sino sus causas. Es la garantía de una curación completa, rápida y segura. ¿Cuál es la causa principal de lesiones en las articulaciones? Es la deposición de cristales en las articulaciones debido a un trastorno de la circulación sanguínea y del líquido sinovial.</p>
<p><b>- ¿Cómo "limpian" las articulaciones en Alemania?</b></p>

<p>- Hoy en día existen medicamentos especiales que están diseñados para limpiar las articulaciones de las deposiciones de sal. Contienen alfa-artroferol. Por ejemplo, un remedio muy bueno es Sustarox. Contiene alfa-artroferol en una forma especial, fácil de digerir, por lo que este medicamento tiene una mayor eficiencia.
  También una ventaja importante de Sustarox es que contiene un complejo de vitaminas de artro-, macro- y microelementos diseñadas para mejorar el funcionamiento de los tejidos de la articulación. Es decir, tiene un efecto curativo integral para el tejido óseo y cartilaginoso, líquido sinovial, fibras musculares, tejidos de los ligamentos y tendones. O sea, tiene un efecto complejo e integral, es una crema increíble.</p>

<!-- <i>ФОТО СУСТАВОВ</i> -->

<div class="imagw-wrap">
  <img src="{%static 'product/mini_lands/sust_01.jpg'%}">
</div>

<p>Llevamos tres meses distribuyendo Sustarox. Esta oportunidad ya la aprovecharon varios miles de peruano. Les pedimos a todos los que recibieron Sustarox que evalúen la eficacia del medicamento en una escala de 1 a 10. Por el momento, más de 3'700 personas participaron en la encuesta y la evaluación promedia del medicamento es 9,72 de 10.</p>
<p>Como puede ver, ¡Sustarox ayudó a devolver la movilidad y deshacerse del dolor a miles de peruano y casi gratis!</p>
<h3> Más de 80 comentarios</h3>
<div class="comment-wrapper">
  <div class="comm-vars">
    <button></button>
    <button class="active click" id="comm-read" data-show="comms">REad comments</button>
    <span></span>
    <button class="click" id="comm-write"  data-show="comm-form">Write comment</button>
    <button></button>
  </div>
  <div class="comm-form-wrapp" id="comm-form" style="display: none;">
    <p id="comm-success" style="display:none">Спасибо!</p>
    <form action="">
      <label>Enter your comment<span>*</span></label>
    <textarea name="" id="" cols="30" rows="7" required></textarea>
    <div class="row">
      <div class="col">
        <label> Enter your name<span>*</span></label>
      </div>
      <div class="col">
        <label> Enter your Email<span>*</span></label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="text"  placeholder="Your name" required>
      </div>
      <div class="col">
        <input type="email"  placeholder="Your email" required>
      </div>
    </div>
    <button class="active">
      <i class='fa fa-circle-o-notch fa-spin'></i>
      Send</button>
    </form>
  </div>

  <div class="comment">
    <img src="{%static 'product/images/comments/w1.jpg'%}">
    <div>
      <p class="user-name">Ana Moreno</p>
    <p>Muy útil! Pedí Sustarox. El consultor dijo que todavía los hay, pero está terminando rápidamente. Buena noticia, qué suerte tuve.</p>
    </div>
  </div>
  <div class="comment">
    <img src="{%static 'product/images/comments/m1.jpg'%}">
    <div>
      <p class="user-name">Miguel Lobato</p>
    <p>Tengo 65 años. Me duelen las rodillas desde que tuve 50 años. Recientemente el dolor se hizo insoportable. El hijo vive en Alemania y me habló de esta crema. Ahora corro como cuando era joven y el dolor se ha ido! Gracias, gracias, GRACIAS!!</p>
    </div>
  </div>
  <div class="comment">
    <img src="{%static 'product/images/comments/w2.jpg'%}">
    <div>
      <p class="user-name">Marta Días</p>
    <p>Le pedí esta crema a mi esposo hace un mes. Sufría de dolor de espalda. El dolor se ha ido por completo! Después del tratamiento nunca tuvo ataques de dolor. Me alegro de que haya empezado a hacer más cosas para la casa.</p>
    </div>
  </div>
</div>


{%endblock%}