/* INNER CARD STYLES */
a{
    text-decoration: none;
}
.product-title{
background-color: #37475a;
padding: 35px 0;
color: #fff;
}
.form-wrapper{
    margin-top: 40px;
    margin-bottom: 40px;
}
.form-wrapper img{
    width: 100%;
}
.form-wrapper h3.product-name{
    display: inline-block;
    font-size: 35px;
    color:red;
    border-bottom: 1px solid #333;
}
.form-wrapper .price{
    color: #25b244;
    font-size: 36px;
    line-height: 30px;
    font-weight: 400;
}
.form-wrapper .old-price{
    color: #818181;
    font-size: 36px;
    line-height: 30px;
    font-weight: 400;
    text-decoration: line-through;
}
.form-wrapper .price,
.form-wrapper .old-price{
    display: inline-block;
}
.form-wrapper .product-desc{
    color:red;
    font-size: 26px;
    line-height: 30px;
    font-weight: 300;
}
.form-wrapper form{
    max-width: 400px;
}
/* INNER CARD STYLES */


/* CARDS */


#products {
    margin-top: 40px;
}

.card {
    border: none;
}

.card img {
    height: 100%;
    max-height: 250px;
}

.card .card-title {
    color: #37475a;
    font-family: inherit;
    font-size: 20px;
    line-height: 1.5;
}

.card .card-text {
    color: #999;
    font-size: 15px;
    font-weight: 300;
    line-height: 1;
    font-style: italic;
    margin-bottom: 8px;
    text-overflow: ellipsis;
    white-space: normal;
    transition: 0.3s;
}

.card .card-text:hover {
    color: #28a4cd;
}

.card a.btn-primary {
    background-color: #61CE70;
    color: #fff;
    border-radius: 0px;
    border-width: 0;
}
.card a.btn-primary:hover{
    background-color: #6190ce;
}

.card .price {
    color: #25b244;
    font-size: 18px;
}

/* CARDS */

/* ПЛАШКИ */

.premium-title-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.premium-title-container h2 {
    color: #37475A;
    font-size: 30px;
}

.premium-title-container span {
    width: 120px;
    height: 5px;
    background-color: #37475A;
}

/* ПЛАШКИ */


/* FOOTER */
.footer-bottom {
    background-color: #1B1B1B;
    padding: 15px 0;
    display: flex;
    justify-content: center;
}
.footer-bottom #policy-link{
margin-left: 10px;
color: white;
transition: 0.3s;
}
.footer-bottom #policy-link:hover{
    color: #13aff0;
    text-decoration: underline;
}

.footer-bottom p {
    color: white;
    margin: 0;
}

.prefooter {
    background-color: #222;
    padding: 40px 0;
}

.prefooter h4.widget-title {
    display: inline-block;
    padding-left: 15px;
    color: white;
    text-align: center;
    border-left: 3px solid #28a4cd;
    font-size: 13px;
}

.prefooter .custom-menu {
    color: #fff;
}

.prefooter .custom-menu ul {
    margin: 0;
    padding: 0;
}

.prefooter .custom-menu li {
    display: block;
    border-bottom: 1px solid #e9e9e9;
    padding: 8px 0;
    font-size: 13px;
    line-height: 20px;
    transition: 0.3s;
    cursor: pointer;
}

.prefooter .req-info {
    margin: 15px 0;

}

.prefooter .req-info span.main {
    font-weight: 600;
    color: #777;
}

.prefooter .req-info span {
    display: block;
    font-weight: 400;
    color: #4a4a4a;
}

.prefooter .social-container {
    display: flex;
}

.prefooter .social-container a {
    color: #bbb;
    border: 1px solid #fff;
    width: 55px;
    height: 55px;
    border-radius: 2px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}

.prefooter .custom-menu li:hover {
    color: #13aff0;
}

.prefooter .social-container a:hover {
    color: #13aff0;
    border: 1px solid #13aff0;
}

.categorys-container {
    margin: 20px;
}

.categorys-container img {
    width: 100%;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #E4DCDC;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 50%)
}

/* FOOTER */