@charset "UTF-8";
/* ----------Обнуления--------- */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

*::-moz-selection {
  background: #A1A1A1;
}

*::selection {
  background: #A1A1A1;
}

a {
  cursor: pointer;
  text-decoration: none;
  display: block;
  color: #37475A;
}

a img {
  border: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* ---------------------------- */
body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.upp{
  text-transform: uppercase;
}
.description__text p{
  line-height: 23px;
}
.container {
  padding: 0 20px;
}
.container-sm {
  padding: 0 20px;
}

/* ----Подзаголовки категорий с линией-------- */
.subtitle {
  text-align: center;
  color: #37475A;
}

.line {
  height: 5px;
  width: 120px;
  background-color: #37475A;
  border-radius: 5px;
  margin: 0 auto 20px;
}

/* -------------------------------------------- */
/* ------------карточка с товаром------------ */
.catalog__card {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 47%;
  margin-bottom: 20px;
}
.catalog__card-img {
  position: relative;
  max-height: 220px;
  /* background-image: url(/static/product/images/background-card.jpg); */
}
.catalog__box .catalog__card-img{
  /* background-image: url(/static/product/images/background-card.jpg); */
}
.catalog__card-img .link-img__card {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
}
.catalog__card-img img {
  /* padding: 10px 0; */
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.catalog__card-img .oferta {
  display: block;
  padding: 5px 10px;
  background-color: rgba(80, 244, 151, 0.9);
  color: #fff;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  text-transform: uppercase;
  left: 0;
  top: 5%;
  position: absolute;
}
.catalog__card-img .viewing {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s, 0.85s opacity, 0.55s visibility;
  z-index: 5;
}
.catalog__card-img a,
.catalog__card-img i{
  color: inherit;
}
.catalog__card-img i{
  margin-right: 5px;
}
.catalog__card-img .viewing:hover {
  background-color: rgb(0, 0, 0);
}
.catalog__card-img:hover .viewing {
  opacity: 1;
  visibility: visible;
}
.catalog__card-text {
  display: block;
  padding: 0 5px;
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
  font-style: italic;
  color: #37475A;
  margin-bottom: 8px;
  text-overflow: ellipsis;
  white-space: normal;
  text-align: center;
}
.catalog__card-title {
  display: inline-block;
  padding: 0 5px;
  margin-top: 0;
  font-size: 14px;
  font-weight: bold;
  overflow-y: hidden;
  text-align: center;
}
.catalog__card-coast {
  display: flex;
  justify-content: start;
   align-items: start; /*МОИ  */
  margin: 0 auto 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.catalog__card-coast .card__old-coast {
  position: relative;
  margin-right: 5px;
}
.catalog__card-coast .card__old-coast span {
  font-size: 12px;
  color: #A1A1A1;
  margin: 0;
}
.catalog__card-coast .card__old-coast span::before {
  content: "";
  position: absolute;
  background-color: #A1A1A1;
  height: 1px;
  width: 100%;
  top: 50%;
  left: 0;
}
.catalog__card-coast span {
  color: #25B244;
  font-size: 18px;
  font-weight: bold;
}
.catalog__card-btn {
  width: 90%;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  background-color: #25B244;
  color: #fff;
  font-size: 15px;
  padding: 10px 5px;
  cursor: pointer;
  transition-duration: 0.4s;
}
.catalog__card-btn:hover{
  background-color: #37475a;
  color: #28a4cd;
  /* font-size: 16px; */

  /* border: 2px solid #28a4cd; */
  border-radius: 5px;
  /* padding: 6px 5px; */
}
.catalog__card-btn a{
  color: inherit;
}
.catalog__card-btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.catalog__card-btn:active {
  background-color: #2fc950;
}

/* ------------------------------------------ */
/* -----breadcrumbs------------ */
.breadcrumbs {
  background: rgba(223, 223, 223, 0.5);
  padding: 13px 0 14px;
  margin-bottom: 20px;
}
.breadcrumbs__title {
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #25B244;
}
.breadcrumbs__list {
  display: flex;
}
.breadcrumbs__link {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #5A5A5A;
}
.breadcrumbs__item::after {
  content: "/";
  margin: 0 4px 0 -2px;
}
.breadcrumbs__item:last-child::after {
  display: none;
}

/* ------------------------------- */
/* -------------form------------------ */
.form__inner {
  display: flex;
  flex-direction: column;
}
.form__img {
  background-repeat: no-repeat;
  background-size: cover;
}
.form__column {
  margin: 0 auto;
  max-width: 280px;
}

.form__contact {
  margin: 20px auto 20px;
  display: flex;
  flex-direction: column;
  max-width: 380px;
  width: 100%;
}
.form__contact-title {
  font-size: 22px;
  font-weight: bold;
  color: #25B244;
  margin: 0 auto 20px;
}
.form__contact label {
  font-size: 14px;
  /* padding-left: 20px; */
  color: #5A5A5A;
  padding-bottom: 3px;
}
.form__contact label span {
  color: red;
}
.form__contact-input {
  max-width: 407px;
  width: 100%;
  padding: 6px 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #222;
  border: 1px solid #A1A1A1;
  border-radius: 5px;
  margin-bottom: 20px;
}
.form__contact-area {
  max-width: 825px;
  width: 100%;
  height: 125px;
  padding: 14px 16px;
  margin-bottom: 5px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #A1A1A1;
  border: 1px solid #A1A1A1;
  border-radius: 5px;
}
.form__contact p {
  margin: 0 0 20px;
  padding: 0 10px;
}
.form__contact-btn {
  max-width: 280px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 10px 12px;
  border: none;
  border-radius: 10px;
  background: #25B244;
  color: #fff;
}

/* ----------------------------------- */
/* ------кнопка вверх-------- */
/* #toTop {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
  box-shadow: 0px 4px 14px 1px rgba(34, 60, 80, 0.6);
} */
#toTop{
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: rgba(0,0,0,0.4);
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  z-index: 100;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  transition: 0.5s;
}
#toTop:hover{
  background-color: rgba(0,0,0,1);
}

.triangle {
  border-radius: 10px;
  padding: 20px;
  position: relative;
  color: #fff;
}
.triangle::before {
  border-radius: 5px;
  content: "";
  position: absolute;
  left: 16%;
  bottom: 35%;
  border: 15px solid transparent;
  border-bottom: 15px solid #000;
}

/* --------------------------- */
.header__inner {
  min-height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social {
  background-color: #37475a;
  padding: 8px 0;
}
.social__inner {
  display: flex;
  align-items: center;
  gap: 5px;
}
.social__link {
  color: #fff;
  /* padding-top: 5px; */
}
/* .social__link img {
  height: 20px;
  width: 20px;
} */
.social__link i {
  height: 16px;
  width: 16px;
}
.header .social__link i{
  margin-right: 10px;
}
.logo__link img {
  width: 40px;
  height: 40px;
}

.menu {
  display: flex;
  align-items: center;
  position: relative;
  /*   span {
      font-size: 18px;
      font-weight: bold;
      margin-left: 8px;
      color: $colortext;
    }

    &__close {
      position: absolute;
      top: 0;
      right: -25%;
      display: none;
      background: #fff;
      padding: 0 10px 10px 0;
    } */
}
.menu__btn {
  width: 20px;
  height: 16px;
  border: none;
  background: transparent;
  position: relative;
}
.menu__btn::after {
  content: "";
  width: 20px;
  height: 3px;
  background-color: #555;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 7px 0 0 #555, 0 14px 0 0 #555;
}

.menu-list {
  display: none;
  position: absolute;
  min-width: 320px;
  width: 100%;
  left: 0;
  right: 0;
  top: 115px;
  top: 90px;
  z-index: 30;
}
.menu-list__item {
  display: block;
  text-align: center;
}
.menu-list__link {
  text-transform: uppercase;
  display: block;
  color: #555;
  background-color: #fff;
  border-bottom: 1px solid rgb(216, 211, 211);
  padding: 10px 0;
  transition: 0.3s;
}
.menu-list__link:hover {
  color: #13aff0;
}
.head {
  background-color: #25B244;
  margin-bottom: 60px;
}
.head__inner {
  padding: 10px;
  text-align: center;
}
.head__inner h1 {
  display: block;
  margin: 0 auto;
  color: #FFFFFF;
  font-family: "Roboto", Sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.information {
  margin-bottom: 50px;
}
.information__title {
  margin-bottom: 5px;
}
.information__boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.information__link {
  padding: 5px 0;
}
.information__link-img {
  width: 100%;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
}
.information__link-img:active {
  box-shadow: none;
}

.catalog__title {
  margin-bottom: 5px;
}
.catalog__box {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

.booking__arrows {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.booking__arrows-prew, .booking__arrows-next {
  position: relative;
  color: #A1A1A1;
}
.booking__arrows-prew:hover, .booking__arrows-next:hover {
  color: #25B244;
}
.booking__arrows-prew {
  padding: 0px 5px 0px 20px;
}
.booking__arrows-prew::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 3px;
  background-color: #A1A1A1;
  bottom: 3px;
  left: 0;
  transform: rotate(45deg);
}
.booking__arrows-prew::after {
  position: absolute;
  content: "";
  width: 14px;
  height: 3px;
  background-color: #A1A1A1;
  top: 3px;
  left: 0;
  transform: rotate(-45deg);
}
.booking__arrows-next {
  padding: 0px 20px 0px 5px;
}
.booking__arrows-next::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 3px;
  background-color: #A1A1A1;
  bottom: 3px;
  right: 0;
  transform: rotate(-45deg);
}
.booking__arrows-next::after {
  position: absolute;
  content: "";
  width: 14px;
  height: 3px;
  background-color: #A1A1A1;
  top: 3px;
  right: 0;
  transform: rotate(45deg);
}
.booking__img {
  margin-bottom: 20px;
  position: relative;
  height: 280px;
  /* background-image: url(/static/product/images/background-card.jpg); */
}
.booking__img img {
  padding: 10px 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.booking__img .oferta {
  display: block;
  padding: 5px 10px;
  background-color: rgba(80, 244, 151, 0.577);
  color: #fff;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  text-transform: uppercase;
  left: 0;
  top: 5%;
  position: absolute;
}
.booking__column {
  display: flex;
  flex-direction: column;
}
.booking__column-title {
  margin: 0 auto 20px;
  text-align: center;
  font-size: 28px;
}
.booking__column-coast {
  width: 100%;
  padding: 8px 0;
  border-top: 1px solid #25B244;
  border-bottom: 1px solid #25B244;
}
.booking__column-coast span {
  font-size: 22px;
  font-weight: bold;
  color: #25B244;
}
.booking__column-subtitle {
  color: #37475A;
}
.booking__column button {
  width: 80%;
  margin: 0 auto 20px;
  padding: 10px 0;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
}
.booking__column-categoria {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.booking__column-categoria.rank{
  gap: 2px;
}
.rank i{
  color: #ffbe00;
}
.booking__column-categoria h5 {
  margin: 0;
}
.booking__column-categoria a {
  color: #A1A1A1;
  font-size: 14px;
}

.advice {
  margin-bottom: 40px;
}
.advice__inner {
  border: 1px solid #A1A1A1;
  padding: 15px;
}

.first-product,
.second-product,
.third-product {
  margin-bottom: 70px;
}

.footer {
  background-color: #222;
}
.footer__inner {
  display: flex;
  flex-direction: column;
  padding: 20px 10px 0;
}
.footer__column h3 {
  padding-left: 20px;
  color: #fff;
  position: relative;
  font-weight: lighter;
}
.footer__column h3::before {
  content: "";
  height: 100%;
  width: 5px;
  background-color: #28a4cd;
  position: absolute;
  left: 0;
  top: 0;
}
.footer__column h4 {
  color: #777;
}
.footer__column ul {
  display: flex;
  flex-direction: column;
}
.footer__column li {
  border-bottom: 1px solid #fff;
  margin-bottom: 12px;
}
.footer__column a {
  color: #fff;
  padding-bottom: 8px;
  transition: 0.3s;
}

.footer__social ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.footer__social ul li {
  border: 1px solid #555;
  margin-bottom: 10px;
  padding: 0;
  border-radius: 2px;
}
.footer__social ul a {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
}
.footer__social ul li:hover{
  border-color:#37589b ;
}
.footer__social ul a:hover{
  color: #37589b;
}

.footer__inner a:hover{
  color: #28a4cd;
}

.copyright {
  background-color: #000;
  margin: 0 auto;
  border: none;
}
.copyright p {
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 15px 0;
  font-size: 12px;
}
.contakts__item h4{
  margin-top: 20px;
  margin-bottom: 10px;
}
@media (min-width: 550px) {
  .information__boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
  .information__link {
    width: 33.333%;
  }
  .information__link-img {
    width: 100%;
  }
  .catalog__box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  .catalog__card {
    width: 33%;
  }
}
@media (max-width:768px){
  .social{
    display: none;
  }
}


@media (min-width: 640px) {
  .head__inner {
    display: flex;
    justify-content: space-between;
  }
  .menu {
    display: none;
  }
  .menu-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    width: auto;
    top: 0;
  }
  .menu-list__link {
    border: none;
  }
  .menu-list li:nth-child(1) {
    display: none;
  }
  .booking {
    margin-bottom: 40px;
  }
  .booking__order {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .booking__img {
    width: 40%;
  }
  .booking__column {
    width: 65%;
  }
  .booking__column button {
    width: 50%;
  }
  .form__order {
    flex-direction: column;
    gap: 0;
  }
}
@media (min-width: 768px) {

  .catalog__card {
    width: 22%;
  }
  .container {
    padding: 0 40px;
    max-width: 1360px;
    margin: 0 auto;
  }
  .container-sm {
    padding: 0 40px;
    max-width: 1080px;
    margin: 0 auto;
  }
  .footer__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
  }
  .footer__column {
    width: 48%;
  }
}
@media (min-width: 960px) {
  .footer__column {
    width: 23%;
  }
}/*# sourceMappingURL=style.css.map */