
  <div class="comm-vars">
    <button></button>
    <button class="active click" id="comm-read" data-show="comms">REad comments</button>
    <span></span>
    <button class="click" id="comm-write"  data-show="comm-form">Write comment</button>
    <button></button>
  </div>
  <div class="comm-form-wrapp" id="comm-form" style="display: none;">
    <p id="comm-success" style="display:none">Спасибо!</p>
    <form action="">
      <label>Enter your comment<span>*</span></label>
    <textarea name="" id="" cols="30" rows="7" required></textarea>
    <div class="row">
      <div class="col">
        <label> Enter your name<span>*</span></label>
      </div>
      <div class="col">
        <label> Enter your Email<span>*</span></label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="text"  placeholder="Your name" required>
      </div>
      <div class="col">
        <input type="email"  placeholder="Your email" required>
      </div>
    </div>
    <input type="checkbox" required>
    <label>I agree <span>*</span></label>
      <br>
    <button class="active">
      <i class='fa fa-circle-o-notch fa-spin'></i>
      Send</button>
    </form>
  </div>