
  <div class="comm-vars">
    <button></button>
    <button class="active click" id="comm-read" data-show="comms">comentarios</button>
    <span></span>
    <button class="click" id="comm-write"  data-show="comm-form">deja un comentario</button>
    <button></button>
  </div>
  <div class="comm-form-wrapp" id="comm-form" style="display: none;">
    <p id="comm-success" style="display:none">¡Gracias! Tu reseña ha sido enviada para moderación.</p>
    <form action="">
      <label>Introduce tu comentario<span>*</span></label>
    <textarea name="" id="" cols="30" rows="7" required></textarea>
    <div class="row">
      <div class="col">
        <label>Introduzca su nombre<span>*</span></label>
      </div>
      <div class="col">
        <label>Introduce tu correo electrónico<span>*</span></label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="text"  placeholder="Your name" required>
      </div>
      <div class="col">
        <input type="email"  placeholder="Your email" required>
      </div>
    </div>
    <input type="checkbox" required>
    <label>estoy de acuerdo con las <a>reglas</a> <span>*</span></label>
      <br>
    <button class="active">
      <i class='fa fa-circle-o-notch fa-spin'></i>
      enviar</button>
    </form>
  </div>